<!DOCTYPE html>
<html lang="<%= settings.language === 'persian' ? 'fa' : 'en' %>" dir="<%= settings.language === 'persian' ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arka</title>
  </head>
  <body>
    <%- include('../partitions/navbar') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../partitions/sidebar') %>
        <div class="col">
          <%- include('../partitions/notification') %>
          <div class="container px-5 py-3">
            <h2>Settings</h2>
            <hr class="mb-4">
            <form method="post" action="/user/update-settings">
              <div class="row mb-3">
                <div class="col-3">
                  <label for="recordPerPage" class="form-label">Records Per Page</label>
                </div>
                <div class="col-9">
                  <select class="form-select" name="recordPerPage" id="recordPerPage">
                    <option value="10" <% if (settings.recordPerPage === 10) {%> selected <% } %> >10</option>
                    <option value="25" <% if (settings.recordPerPage === 25) {%> selected <% } %> >25</option>
                    <option value="50" <% if (settings.recordPerPage === 50) {%> selected <% } %> >50</option>
                    <option value="100" <% if (settings.recordPerPage === 100) {%> selected <% } %> >100</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-3">
                  <label for="language" class="form-label">Language</label>
                </div>
                <div class="col-9">
                  <select class="form-select" name="language" id="language">
                    <option value="english" <% if (settings.language === 'english') {%> selected <% } %> >English</option>
                    <option value="persian" <% if (settings.language === 'persian') {%> selected <% } %> >Persian</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <button class="btn btn-success" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
