<!DOCTYPE html>
<html lang="<%= settings.language === 'persian' ? 'fa' : 'en' %>" dir="<%= settings.language === 'persian' ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arka</title>
  </head>
  <body>
    <%- include('../partitions/navbar') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../partitions/sidebar') %>
        <div class="col">
          <%- include('../partitions/notification') %>
          <nav class="navbar sticky-top navbar-expand-lg" style="z-index: 1">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <button class="btn" id="saveBtn">Save</button>
                  </li>
                  <li class="nav-item">
                    <button class="btn" id="saveAndCloseBtn">
                      Save & Close
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <hr class="my-0" />
          <div class="container-fluid border-bottom px-5 py-5">
            <div
              class="border-bottom mb-3 col-lg-8 col-md-10 col-sm-12 mx-auto"
            >
              <h3 class="fw-light mb-5">Add Project</h3>
              <form autocomplete="off">
                <div class="row mb-3">
                  <div class="col-3">
                    <label class="form-label">Project Code</label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      id="code"
                      class="form-control"
                      value="<%= projectData ? 'PR-' + projectData.code : '' %>"
                      disabled
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="fixedSerialNumber" class="form-label"
                      >Fixed Serial Number</label
                    >
                  </div>
                  <div class="col-9">
                    <input
                      id="fixedSerialNumber"
                      type="text"
                      class="form-control"
                      name="fixedSerialNumber"
                      value="<%= projectData ? projectData.fixedSerialNumber : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label class="form-label">Product Count</label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      id="productCount"
                      value="<%= projectData ? projectData.productCount : '' %>"
                      disabled
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="projectTitle" class="form-label"
                      >Project Title</label
                    >
                  </div>
                  <div class="col-9">
                    <input
                      id="projectTitle"
                      type="text"
                      class="form-control"
                      name="projectTitle"
                      value="<%= projectData ? projectData.title : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="firstSerialNo" class="form-label"
                      >First Serial Number</label
                    >
                  </div>
                  <div class="col-9">
                    <input
                      id="firstSerialNumber"
                      type="text"
                      class="form-control"
                      name="firstSerialNumber"
                      value="<%= projectData ? projectData.firstSerialNumber : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="lastSerialNumber" class="form-label"
                      >Last Serial Number</label
                    >
                  </div>
                  <div class="col-9">
                    <input
                      id="lastSerialNumber"
                      type="text"
                      class="form-control"
                      name="lastSerialNumber"
                      value="<%= projectData ? projectData.lastSerialNumber : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="product" class="form-label">product</label>
                  </div>
                  <div class="col-9">
                    <input
                      id="product"
                      type="text"
                      class="form-control"
                      name="product"
                      value="<%= projectData ? projectData.productTitle : '' %>"
                    />
                    <div class="result-box" id="search-result"></div>
                  </div>
                </div>
              </form>
            </div>
            <% if (projectData) { %>
            <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
              <h3 class="fw-light mb-5">Products</h3>
              <table id="myTable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Product Code</th>
                    <th>Alternate Code</th>
                    <th>Product Status</th>
                    <th>NCR Approval</th>
                    <th>Created On</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        const host = window.location.origin;

        $("#saveBtn").on("click", function () {
          const fixedSerialNumber = $("#fixedSerialNumber").val();
          const projectTitle = $("#projectTitle").val();
          const firstSerialNumber = $("#firstSerialNumber").val();
          const lastSerialNumber = $("#lastSerialNumber").val();
          const productTitle = $("#product").val();
          const data = {
            fixedSerialNumber,
            firstSerialNumber,
            lastSerialNumber,
            title: projectTitle,
            productTitle,
          };
          $.ajax({
            type: "POST",
            url: host + "/project/add-project",
            data,
            success: function (data) {
              window.location.href = host + "/project/add-project/" + data;
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        $("#saveAndCloseBtn").on("click", function () {
          const fixedSerialNumber = $("#fixedSerialNumber").val();
          const projectTitle = $("#projectTitle").val();
          const firstSerialNumber = $("#firstSerialNumber").val();
          const lastSerialNumber = $("#lastSerialNumber").val();
          const productTitle = $("#product").val();
          const data = {
            fixedSerialNumber,
            firstSerialNumber,
            lastSerialNumber,
            title: projectTitle,
            productTitle,
          };
          $.ajax({
            type: "POST",
            url: host + "/project/add-project",
            data,
            success: function (data) {
              window.location.href = host + "/project";
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });

        const dataTable = $("#myTable").DataTable({
          oLanguage: {
            sSearch: "Search Project",
          },
          processing: true,
          serverSide: true,
          ordering: false,
          pageLength: 10,
          // "ajax": {
          //     url: host + '/project/datatable',
          //     type: 'GET'
          // },
          // "columns": [
          //     { "data": "code" },
          //     { "data": "title" },
          //     { "data": "product.title" },
          //     { "data": "productCount" },
          //     { "data": "createdAt" }
          // ],
        });
        $("#product").on("keyup", function () {
          if (this.value == "") return;
          $.ajax({
            type: "POST",
            url: host + "/product/get-availabe",
            data: {
              title: this.value,
            },
            success: function (data) {
              $("#search-result").html(`
                            <ul class="border rounded" 
                                style="text-decoration: none; padding: 0; margin-top: 1px;" 
                                id="available-products">
                            </ul>
                        `);
              for (let i = 0; i < data.length; i++) {
                $("#available-products").append(`
                                <li class="px-3 py-2 pickProduct" value="${data[i].title}" style="list-style: none; border-radius: 3px; cursor: pointer;">${data[i].title}</li>
                            `);
              }
            },
            error: function (xhr, status, error) {
              alert("something went wrong. please contact admin.");
            },
          });
        });
        $("body").on("click", ".pickProduct", function (e) {
          $("#search-result").html("");
          $("#product").val($(this).text());
        });
      });
    </script>
    <style>
      .result-box ul li:hover {
        background: #e9f3ff;
      }
    </style>
  </body>
</html>
