<!DOCTYPE html>
<html lang="<%= settings.language === 'persian' ? 'fa' : 'en' %>" dir="<%= settings.language === 'persian' ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arka</title>
  </head>
  <body>
    <%- include('../partitions/navbar') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../partitions/sidebar') %>
        <div class="col">
          <%- include('../partitions/notification') %>
          <nav class="navbar sticky-top navbar-expand-lg" style="z-index: 1">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <button class="btn" id="saveBtn"><%= content.save %></button>
                  </li>
                  <li class="nav-item">
                    <button class="btn" id="saveAndCloseBtn">
                      <%= content.saveAndClose %>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <hr class="my-0" />
          <div class="container-fluid border-bottom px-5 py-5">
            <div
              class="border-bottom mb-3 col-lg-8 col-md-10 col-sm-12 mx-auto"
            >
              <h3 class="fw-light mb-5"><%= content.addTitle %></h3>
              <form autocomplete="off">
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="product" class="form-label"><%= content.form.titles.product %></label>
                  </div>
                  <div class="col-9">
                    <input
                      id="product"
                      type="text"
                      class="form-control"
                      name="product"
                      placeholder="<%= content.form.placeHolders.product %>"
                      value="<%= actionData ? actionData.productTitle : '' %>"
                    />
                    <div class="result-box" id="product-result"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="station" class="form-label"><%= content.form.titles.station %></label>
                  </div>
                  <div class="col-9">
                    <input
                      id="station"
                      type="text"
                      class="form-control"
                      name="station"
                      placeholder="<%= content.form.placeHolders.station %>"
                      value="<%= actionData ? actionData.stationTitle : '' %>"
                    />
                    <div class="result-box" id="station-result"></div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="actionTitle" class="form-label"
                      ><%= content.form.titles.actionTitle %></label
                    >
                  </div>
                  <div class="col-9">
                    <input
                      id="actionTitle"
                      type="text"
                      class="form-control"
                      name="actionTitle"
                      placeholder="<%= content.form.placeHolders.actionTitle %>"
                      value="<%= actionData ? actionData.title : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-3">
                    <label for="type" class="form-label"
                      ><%= content.form.titles.type %></label
                    >
                  </div>
                  <div class="col-9">
                    <select class="form-select" id="type" name="type">
                      <option selected value="quantitative"><%= content.form.titles.quantitative %></option>
                      <option value="qualitative"><%= content.form.titles.qualitative %></option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3" id="minimumContainer">
                  <div class="col-3">
                    <label class="form-label"><%= content.form.titles.minimum %></label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      id="minimum"
                      name="minimum"
                      placeholder="<%= content.form.placeHolders.minimum %>"
                      value="<%= actionData ? actionData.minimum : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3" id="maximumContainer">
                  <div class="col-3">
                    <label class="form-label"><%= content.form.titles.maximum %></label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      id="maximum"
                      name="maximum"
                      placeholder="<%= content.form.placeHolders.maximum %>"
                      value="<%= actionData ? actionData.maximum : '' %>"
                    />
                  </div>
                </div>
                <div class="row mb-3" id="unitOfMeasurementContainer">
                  <div class="col-3">
                    <label class="form-label"><%= content.form.titles.unitOfMeasurement %></label>
                  </div>
                  <div class="col-9">
                    <input
                      type="text"
                      class="form-control"
                      id="unitOfMeasurement"
                      name="unitOfMeasurement"
                      placeholder="<%= content.form.placeHolders.unitOfMeasurement %>"
                      value="<%= actionData ? actionData.unitOfMeasurement : '' %>"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        const host = window.location.origin;

        $("#type").on("change", function () {
          const type = this.value;
          if (type === 'qualitative') {
            $("#minimumContainer").css('display', 'none');
            $("#maximumContainer").css('display', 'none');
            $("#unitOfMeasurementContainer").css('display', 'none');
            $("#minimum").val("");
            $("#maximum").val("");
          } else {
            $("#minimumContainer").css('display', 'flex');
            $("#maximumContainer").css('display', 'flex');
            $("#unitOfMeasurementContainer").css('display', 'flex');
          }
        });

        $("#saveBtn").on("click", function () {
          const title = $("#actionTitle").val();
          const productTitle = $("#product").val();
          const stationTitle = $("#station").val();
          const type = $("#type").val();
          const minimum = $("#minimum").val();
          const maximum = $("#maximum").val();
          const unitOfMeasurement = $("#unitOfMeasurement").val();
          const data = {
            productTitle,
            stationTitle,
            type,
            minimum,
            maximum,
            unitOfMeasurement,
            title,
          };
          $.ajax({
            type: "POST",
            url: host + "/list-of-actions/add-action",
            data,
            success: function (data) {
              window.location.href = host + "/list-of-actions/add-action/" + data;
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        $("#saveAndCloseBtn").on("click", function () {
          const title = $("#actionTitle").val();
          const productTitle = $("#product").val();
          const stationTitle = $("#station").val();
          const type = $("#type").val();
          const minimum = $("#minimum").val();
          const maximum = $("#maximum").val();
          const unitOfMeasurement = $("#unitOfMeasurement").val();
          const data = {
            title,
            productTitle,
            stationTitle,
            type,
            minimum,
            maximum,
            unitOfMeasurement,
          };
          $.ajax({
            type: "POST",
            url: host + "/list-of-actions/add-action",
            data,
            success: function (data) {
              window.location.href = host + "/list-of-actions";
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        $("#product").on("keyup", function () {
          if (this.value == "") return;
          $.ajax({
            type: "POST",
            url: host + "/product/get-availabe",
            data: {
              title: this.value,
            },
            success: function (data) {
              $("#product-result").html(`
                            <ul class="border rounded" 
                                style="text-decoration: none; padding: 0; margin-top: 1px;" 
                                id="available-products">
                            </ul>
                        `);
              for (let i = 0; i < data.length; i++) {
                $("#available-products").append(`
                                <li class="px-3 py-2 pickProduct" value="${data[i].title}" style="list-style: none; border-radius: 3px; cursor: pointer;">${data[i].title}</li>
                            `);
              }
            },
            error: function (xhr, status, error) {
              alert("something went wrong. please contact admin.");
            },
          });
        });
        $("#station").on("keyup", function () {
          if (this.value == "") return;
          $.ajax({
            type: "POST",
            url: host + "/station/get-availabe",
            data: {
              title: this.value,
            },
            success: function (data) {
              $("#station-result").html(`
                            <ul class="border rounded" 
                                style="text-decoration: none; padding: 0; margin-top: 1px;" 
                                id="available-stations">
                            </ul>
                        `);
              for (let i = 0; i < data.length; i++) {
                $("#available-stations").append(`
                                <li class="px-3 py-2 pickStation" value="${data[i].title}" style="list-style: none; border-radius: 3px; cursor: pointer;">${data[i].title}</li>
                            `);
              }
            },
            error: function (xhr, status, error) {
              alert("something went wrong. please contact admin.");
            },
          });
        });
        $("body").on("click", ".pickStation", function (e) {
          $("#station-result").html("");
          $("#station").val($(this).text());
        });
        $("body").on("click", ".pickProduct", function (e) {
          $("#product-result").html("");
          $("#product").val($(this).text());
        });
      });
    </script>
    <style>
      .result-box ul li:hover {
        background: #e9f3ff;
      }
    </style>
  </body>
</html>
