<!DOCTYPE html>
<html lang="<%= settings.language === 'persian' ? 'fa' : 'en' %>" dir="<%= settings.language === 'persian' ? 'rtl' : 'ltr' %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arka</title>
  </head>
  <body>
    <%- include('../partitions/navbar') %>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include('../partitions/sidebar') %>
        <div class="col">
          <%- include('../partitions/notification') %>
          <nav class="navbar sticky-top navbar-expand-lg" style="z-index: 1">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      aria-current="page"
                      href="/list-of-actions/add-action"
                      ><%= content.secondaryNavbar.new %></a
                    >
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn" id="deleteAction">
                      <%= content.secondaryNavbar.delete %>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn" id="activateAction">
                      <%= content.secondaryNavbar.activate %>
                    </button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link btn" id="deactivateAction">
                      <%= content.secondaryNavbar.deactivate %>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <hr class="mt-0" />
          <div class="container">
            <table
              id="myTable"
              class="table table-bordered table-striped col-4"
            >
              <thead>
                <div class="mb-3 container d-flex px-0 justify-content-between">
                  <h2 class="fw-light"><%= content.actions %></h2>
                  <div class="col-2">
                    <select class="form-select" id="status">
                      <option value="all"><%= content.statusFilter.all %></option>
                      <option selected value="active"><%= content.statusFilter.active %></option>
                      <option value="deactive"><%= content.statusFilter.deactive %></option>
                    </select>
                  </div>
                </div>
                <tr>
                  <th></th>
                  <th><%= content.datatable.actionTitle %></th>
                  <th><%= content.datatable.product %></th>
                  <th><%= content.datatable.station %></th>
                  <th><%= content.datatable.type %></th>
                  <th><%= content.datatable.status %></th>
                  <th><%= content.datatable.createdAt %></th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        const host = window.location.origin;
        const dataTable = $("#myTable").DataTable({
          oLanguage: {
            sSearch: "<%= content.datatable.searchBox %>",
          },
          processing: true,
          serverSide: true,
          ordering: false,
          autoWidth: false,
          pageLength: "<%= settings.recordPerPage %>"
            ? "<%= settings.recordPerPage %>"
            : 10,
          select: {
            style: "multi",
          },
          ajax: {
            url: host + "/list-of-actions/datatable",
            type: "POST",
            data: function (d) {
              d.status = $("#status").find(":selected").val();
            },
          },
          columns: [
            {
              render: function () {
                return '<input class="form-check-input row-checkbox" type="checkbox" value="">';
              },
            },
            {
              data: "title",
              render: function (data, type, row) {
                return `<a class="link-dark" href="/list-of-actions/add-action/${row._id}">${row.title}</a>`;
              },
            },
            {
              data: "product.title",
              render: function (data, type, row) {
                return `<a class="link-dark" href="/product/add-product/${row.product._id}">${row.product.title}</a>`;
              },
            },
            {
              data: "station.title",
              render: function (data, type, row) {
                return `<a class="link-dark" href="/station/add-station/${row.station._id}">${row.station.title}</a>`;
              },
            },
            {
              data: "type",
              render: function (data, type, row) {
                if (row.isQualitativeAction) {
                  return "Qualitative";
                } else {
                  return "Quantitative";
                }
              },
            },
            {
              data: "active",
              render: function (data, type, row) {
                if (row.active) {
                  return "<%= content.statusFilter.active %>";
                }
                return "<%= content.statusFilter.deactive %>";
              },
            },
            {
              data: "createdAt",
              render: function (data, type, row) {
                return moment(row.createdAt)
                  .format("YYYY/MM/DD HH:mm")
                  .split(" ")
                  .join("&nbsp;&nbsp;");
              },
            },
          ],
        });
        $("#myTable tbody").on("click", ".row-checkbox", function () {
          $(this).parent().parent().toggleClass("selected");
        });
        $("#status").on("change", function () {
          dataTable.draw();
        });
        $("#deleteAction").on("click", function () {
          const ids = grabSelectedItemsId();
          if (!ids.length) {
            return null;
          }

          $.ajax({
            type: "POST",
            url: host + "/list-of-actions/delete-action",
            data: {
              ids,
            },
            success: function (data) {
              dataTable.draw();
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        $("#deactivateAction").on("click", function () {
          const ids = grabSelectedItemsId();
          if (!ids.length) {
            return null;
          }

          $.ajax({
            type: "POST",
            url: host + "/list-of-actions/deactivate-action",
            data: {
              ids,
            },
            success: function (data) {
              dataTable.draw();
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        $("#activateAction").on("click", function () {
          const ids = grabSelectedItemsId();
          if (!ids.length) {
            return null;
          }

          $.ajax({
            type: "POST",
            url: host + "/list-of-actions/activate-action",
            data: {
              ids,
            },
            success: function (data) {
              dataTable.draw();
            },
            error: function (xhr, status, error) {
              console.log("error");
            },
          });
        });
        function grabSelectedItemsId() {
          const ids = [];
          const selectedItems = dataTable.rows(".selected").data();
          for (let i = 0; i < selectedItems.length; i++) {
            ids.push(selectedItems[i]._id);
          }
          return ids;
        }
      });
    </script>
    <% if (settings.language === 'persian') { %>
    <style>
      .dataTables_filter {
        text-align: left !important;
      }
      th {
        text-align: right !important;
      }
    </style>
    <% } %>
  </body>
</html>
